:root{
    --primaryColor:#E65F78;
    --backgroundColor1:#F8F9FA;
    --footerColor:#242424;
    --footerIconBackgroundColor:rgba(241, 241, 241, 0.08);
    --readMoreColor:#6c757d;

}

/* Common */
.subtitle h2{
    font-size: 40px;
}
ul{
    list-style: none
}





/* ------------------------------------------------------------------------ */
/* About Me Section */
.aboutsectionItem img{
    width: 100%;
}
.diff_color{
    color: var(--primaryColor);
}





/* ------------------------------------------------------------------------ */
/* Our Services Section */
.servicesSection{
    background-color:var(--backgroundColor1);
}
.servicesSectionBodyItem{
    border: 1px solid #e8e8e8;
    /* transition: .5s ease; */
}
 .servicesSectionBodyItem h3{
    position: relative;
    padding-bottom: 10px;
}
.servicesSectionBodyItem h3::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 2.5px;
    background-color: var(--primaryColor);
}
.servicesSectionBodyItem i{
    color: var(--primaryColor);
}





/* ------------------------------------------------------------------------ */
/* Available Section */
.availableSection .column button{
    background-color: var(--primaryColor);
}


/* ------------------------------------------------------------------------ */
/* Our Blog Section */
.blogSection{
    background-color: var(--backgroundColor1);
}
.blogSectioncards .card .readmore,.blogSectioncards .card .date{
    color: var(--readMoreColor);
}
.blogSectioncards .card img{
    border-radius: 7%;
}
.blogSectioncards .card{
    border-radius: 0px;
    border: white;
}



/* ------------------------------------------------------------------------ */
/* Contact Us Section */
.contactSectioniconsItem i{
    color: var(--primaryColor);
}
.contact_btn{
    background-color: var(--primaryColor);
    border: 0px;
    /* margin-left: auto !important; */
    /* transform: translateX(-100%); */
}






/* ------------------------------------------------------------------------ */
/* Footer Section */
.footerSection{
    background-color: var(--footerColor);
}
.footerSectionIcons ul li{
    background-color: var(--footerIconBackgroundColor);
    border: 0.5px solid var(--footerIconBackgroundColor);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.footerSectionIcons ul li i{
    margin-left: 25% !important;
}